/Conversor/target/
/Conversor/Conversor/target/
/Conversor/nbproject/private/
/Conversor/build/
/ConversorTemp/nbproject/private/
/ConversorTemp/build/
/Teste/nbproject/private/
/Teste/build/
target
.idea
Conversor-Coin.iml
